{% extends 'diets/base.html' %}
{% block content %}
 
<div class="col-md-6 offset-md-3">
	<h2>Calorie Calculator </h2>
	<br>
	<form method="POST" action="{% url 'calorie' %}">
    {% csrf_token %}
        <div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Enter Your Weight</span>  
				<input type="number" class="form-control" placeholder="KiloGrams" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name = "weight">
			</div>
		</div>
        <div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm" name = "activity">Select Your Activity Level</span>
          <div class="form-group">
						<select class="form-control" name="activity" id="exampleFormControlSelect1">
								<option>Sedentary</option>
				  		        <option>Lightly Active</option>
				 			    <option>Moderately Active</option>
				  		        <option>Highly Active</option> 
						</select>
					</div>
			</div>	
		</div>	

        <div>
			<button type="submit" class="btn btn-primary btn-dark btn-lg btn-lg">Calculate Your Required Calories</button>
		</div>
    </form>
	<h1>{{ xyz }} {{ calories }} </h1>
</div> 
      
{% endblock content %}
